{% extends 'base.html' %}
{% block content %}
	<div class='border round'>
		<h1 class='my-5'>{{ restaurant.restaurant_list.list_name }}</h1>
		<p>{{ restaurant.restaurant_name }}</p>
		
	</div>
	<a href="{% url 'randomizer:restaurant-list-detail' pk=restaurant.restaurant_list.id %}" class='btn btn-secondary my-5'>Back</a>
	<a href="{% url 'randomizer:restaurant-update' pk=restaurant.id %}" class='btn btn-secondary my-5'>Edit</a>
	<a href="{% url 'randomizer:restaurant-delete' pk=restaurant.id %}" class='btn btn-danger my-5'>Delete</a>
{% endblock %}
